<main class="posts-page container">
  <section class="posts">
    <% if @posts.any? %>
      <%= render @posts %>
    <% else %>
      Nenhum post ainda.
    <% end %>
  </section>

  <aside>
    sidebar

    <section>
      <h4>Sugestoes Para Voce</h4>    
    </section>
  </aside>

  <footer>
    © <%= Date.current.year %> INSTAGRAM CLONE
  </footer>
</main>